/* NavigationBar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #bebebe;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #bebebe;
    font-size: 14px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-item {
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .navbar-item i {
    font-size: 24px;
    margin-bottom: 4px;
  }
  
  .navbar-item:hover {
    color: #bd24ff;
  }
  
  .navbar-item.link :hover {
    font-weight: bold;
  }
  
  .navbar-item-active {
    color: #bd24ff;
    font-weight: bold;
  }

  .link{
    color: #bebebe;
    text-decoration: none;
  }
  .navbar-item-active .link,
  .link:hover {
    color: #bd24ff;
    font-weight: bold;
  }
  
  .navbar-item-active .link:not(:hover) {
    font-weight: bold;
  }
  