.month-calendar {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  border-radius: 15px;
  padding: 30px;
}

.month {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.past-month {
  color: #ccc;
  background-color: #ff0000cc; /* Estilo para os meses passados */
}

.current-month{
  color: #000000;
  background-color: #00ff55cc; /* Estilo para os meses passados */
}