.headerMain p{
    color: #bebebe;
}
.headerMain{
    padding-top: 60px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.mesAtual{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.saldoAtual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.despesasReceitas{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.containerReceitas{
    display: flex;
    align-items: center;
}

.align{
    display: inline-block;
}